*{padding:0;margin:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,body{font-family: "microsoft yahei","PingFang SC";}
/*兼容屏幕比例*/
html{font-size: 50px;}  
@media only screen and (min-device-width: 410px) and (max-device-width: 736px){/* 兼容iphone6p */
	html { font-size: 56px; } 
}
@media (max-device-width:360px) and (-webkit-min-device-pixel-ratio:3){/* 兼容iphone5 */
	html { font-size: 47.5px; }  
} 
@media (max-device-width:360px) and (-webkit-max-device-pixel-ratio:2){/* 兼容iphone5 */
	html { font-size: 42px; }  
} 
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }  
h1, h2, h3, h4, h5, h6{ font-size:100%;font-weight:normal;} 
address, cite, dfn, em, var,i{ font-style:normal; } 
small{ font-size:12px; } 
/* p{margin:-740px;} */
ul, ol { list-style:none; } 
a { text-decoration:none;color:#333;} 
a:hover{ text-decoration:none;} 
a:active{ text-decoration:none;} 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%;-webkit-appearance: none;box-sizing: border-box;} 
table { border-collapse:collapse; border-spacing:0; }
.left{ float:left; }
.right{ float:right; }
.clear:after{ display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden; }
.red{ color:#F97851; }
.green{ color:#16CEA2; }
.grey{ color:#888; }
.bgWhite{background:#fff;}
.alert_mask{width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.5);z-index:9999;display: none;}
/*错误吐词*/
.error{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;left:0;right:0;bottom:0;margin:auto;
	background: rgba(255,255,255,0);
	z-index: 10000;
}
.error .error_txt{
	position:relative;
	top:3rem;left:0;right:0;margin:auto;
	height:auto;
	width:4rem;
	padding:0.2rem 0.2rem;
	line-height: 24px;
	text-align: center;
	font-size:0.32rem;
	color: #fff;
	border-radius:0.08rem;
	background:rgba(0,0,0,0.5);
}

/*加载动画*/
.main{
  width:120px;
  height:120px;
  position:absolute;
  bottom:0;top:0;right:0;left:0;margin:auto;
  opacity:0.8; 
  border-radius:3px;
  overflow:hidden; 
}
.memo{
	position: absolute;
	bottom:14px;left:0;right:0;margin:auto;
	height:14px;
	width:100%;
	line-height: 14px;
	text-align: center;
	font-size:14px;
	color: #fff;
}
.loaded{
    transition: opacity .25s linear;
    opacity: 1; 
}
.main .loaders{
    width: 100%;
    height:100%;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.main .loaders .loader{
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 25%;
	max-width: 25%;
	height: 200px;
	align-items: center;
	justify-content: center; 
}
@-webkit-keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

.line-spin-fade-loader{
	position: relative;
	height:120px; 
	background:rgba(0,0,0,0.8);
}
.line-spin-fade-loader > div:nth-child(1){
    top: 57px;
    left:0;right:0;margin:auto;
    -webkit-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(2){
    top: 53px;
    left: 64px;
    -webkit-transform: rotate(-30deg);
		-ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(3){
    top: 46px;
    left: 70px;
    -webkit-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(4){
    top: 38px;
    left: 72px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(5){
     top: 30px;
    left: 70px;
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(6){
    top: 24px;
    left: 64px;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(7){
	top: 24px;
    left:0;right:0;margin:auto;
    -webkit-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
    /*top: 38px;
    left: 40px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;*/
}
.line-spin-fade-loader > div:nth-child(8){
    top: 24px;
    left: 48px;
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(9){
    top: 30px;
    left: 42px;
    -webkit-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(10){
    top: 38px;
    left: 39px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(11){
    top: 46px;
    left: 42px;
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(12){
    top: 53px;
    left: 48px;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
}
.line-spin-fade-loader > div{
    background-color: #fff;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    position: absolute;
    width: 3px;
    height: 10px; 
}
/*加载动画end*/
@font-face {
    font-family: 'fzjingleis';
    src: url('FZJHSXJW.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}